body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  /* background: #fff; */
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
  grid-template-rows: auto 100px;
}

.content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  background-image: url("pictures/Line.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-right: -95px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  margin-left: -20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  padding-left: 80px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff6600;
}

/* Hero Section */
.hero-text h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-top: -10px;
}

.subtext {
  font-size: 16px;
  margin-bottom: 40px;
}

/* Students */
.students {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-bottom: 40px;
}

.student-count {
  font-size: 35px;
  font-weight: 600;
}

.student-label {
  font-size: 15px;
}

.avatars {
  display: flex;
}

.avatars img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: -38px;
  border: 3px solid #fff;
}

/* CTA Buttons */
.cta {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.btn-primary {
  background: #2f584e;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  width: 300px;
}

.btn-secondary {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-left: -5px;
}

.circle-container {
  position: relative;
  display: inline-block;
}

.circle-container img {
  width: 45px;
  height: 45px;
}

.play-icon {
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}

/* Stats Section */
.stats {
  display: flex;
  gap: 75px;
  background-color: #ff9257;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: -40px;
  padding-right: 235px;
}
.stat img {
  width: 80px;
  height: 50px;
  object-fit: contain;
}

.stat h2 {
  font-size: 28px;
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

.stat p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

/* Right Section */
.image-section {
  background: linear-gradient(to bottom, #bed5fa, #0066ff);
  position: relative;
  background: #e0f7ff;
  background-image: url("pictures/Line.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-image: url("pictures/Mask group.png"); /* grid image */
  background-repeat: no-repeat;
  background-size: cover; /* or 'contain' depending on fit */
  background-position: center;
  padding: 20px;
}

.hero-images img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 36px;
}
